<!-- Services Section -->
    <section id="about" style="background-color: rgba(110, 180, 111, 0.548);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nasıl Çalışır</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">               
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/foto-2.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">IŞIKLANDIRMA DESTEĞİ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color: rgb(47, 50, 47);">Seradaki ışık miktarı yetersiz olduğunda, sistem otomatik olarak led ışıklandırma desteğini devreye alır. Böylece bitkilerin fotosentez için ihtiyaç duyduğu ışık sürekli sağlanır. Bu sistemde kontrolü sağlamak için LDR ışık sensörü kullanılmıştır.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/foto-4.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">SICAKLIK KONTROLÜ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color: rgb(47, 50, 47);">Sıcaklık bitkiler için uygun olan optimum değerin altına düştüğünde, sistem bunu anlar ve devreye girerek ortam sıcaklığını artırır. Böylece bitkiler, büyümeleri için ideal sıcaklıkta tutulur. Bu sistemde sıcaklık kontrolünü sağlamak için DHT11 sıcaklık sensörü kullanılmıştır.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/foto-5.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">NEM YÖNETİMİ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color: rgb(47, 50, 47);">Topraktaki nem seviyesi düştüğünde sulama sistemi otomatik olarak çalışır ve bitkilerin su ihtiyacını karşılar. Bu sayede toprağın sürekli optimum nem seviyesinde kalması sağlanır. Bu sistemde Toprak nem sensörü kullanılmıştır.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/foto-6.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">HAVA KALİTESİNİ DENGELEME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color: rgb(47, 50, 47);">Seradaki hava kirliliği veya karbondioksit seviyesi belirli bir sınırı aştığında havalandırma sistemi devreye girerek temiz hava dolaşımı sağlar. Bu, bitkilerin sağlıklı büyümesi için gerekli oksijen ve karbondioksit dengesini korur. Bu sistemde MQ135 hava kalitesi sensörü kullanılmıştır.</p>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>