<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Dirk</h2>
                    <h3 class="section-subheading text-muted">Professional career</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/dod_zurich.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2019-today</h4>
                                  <h4 class="subheading">DevOpsDays Zurich</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Co-Organizer<br/><a href="https://landing.devopsdays.ch" target="_blank">DevOpsDays Zurich</a></p>
                              </div>
                          </div>
                      </li>               
                      <li>                      
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_2011.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2020-today</h4>
                                  <h4 class="subheading">SAP SE</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Chief Development Architect<br/><i>SAP CP ABAP Environment (a.k.a. Steampunk) operations and CI/CD concepts for ABAP</i></p>
                              </div>
                          </div>
                      </li>                             
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_2011.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2017-2019</h4>
                                  <h4 class="subheading">SAP SE</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Chief Development Expert (Cloud Quality Coach)<br/><i>Establish quality related coaching at SAP</i></p>
                              </div>
                          </div>
                      </li>     
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_2011.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2011-2017</h4>
                                  <h4 class="subheading">SAP SE</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Development Expert<br/>Chief Development Expert (Technical Operations TwoGo by SAP)<br/><i>First daily delivery implementation at SAP</i></p>
                              </div>
                          </div>
                     </li>     
                     <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_old.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2008-2011</h4>
                                  <h4 class="subheading">SAP SE</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Regional Implementation Specialist for Alloy by IBM and SAP (SAP - IBM Lotus)<br/><i>Drive customer implementation projects</i></p>
                              </div>
                          </div>
                     </li>
                     <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_old.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2005-2008
                                  <h4 class="subheading">SAP SE</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Senior Developer Research and Breakthrough Innovation (SAP Business ByDesign)<br/><i>SAP Basis Administration</i></p>
                              </div>
                          </div>
                     </li>
                     <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/sap_old.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2001-2005</h4>
                                  <h4 class="subheading">SAP Portals</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Developer (Java)<br/><i>Build own Continuous Integration Service</i></p>
                              </div>
                          </div>
                     </li>
                     <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/dhbw.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>1998-2001</h4>
                                  <h4 class="subheading">Baden-Württemberg Cooperative State University</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">In cooperation with IBM Germany</br>Dipl. Ing. Informationationtechnologie / Bachelor of Science</p>
                              </div>
                          </div>
                     </li>
                     <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
