<!-- Team Section -->

<section id="contact" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading ekip-heading">Ekİp</h2>
            </div>
        </div>
        <style>
            .team-member {
                text-align: center;
                margin-bottom: 30px;
            }
            .team-member img {
                max-width: 100%;
                height: auto;
                border-radius: 50%; /* Yuvarlak resimler */
            }
            .team-member h4 {
                margin-top: 15px;
                font-size: 1.2rem;
            }
            .team-member p {
                font-size: 0.9rem;
                color: #888;
            }
            .name {
                color: white; /* İsimlerin rengi beyaz oldu */
            }
            .ekip-heading {
                margin-top: 0; /* Varsayılan boşluğu kaldırır */
                margin-bottom: 90px; /* Başlık ile altındaki öğe arasındaki boşluk */
                position: relative;
                top: -0px; /* Başlığı yukarı taşır */
            }
        </style>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/muhammed.jpg" alt="Üye 1">
                        <h3 class="name">Muhammed Çalışkan</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/kamer.jpg" alt="Üye 2">
                        <h3 class="name">Kamer Balta</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/ayse.jpg" alt="Üye 3">
                        <h3 class="name">Ayşenur Navruz</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/elif.jpg" alt="Üye 4">
                        <h3 class="name" style="color: rgb(255, 255, 255);">Elif Nur Çakıcı</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" style="color: rgb(182, 179, 179);;">Tüm ekibe çalışmaları adına ve bu süreçte bize destek veren Mehmet Akif Ersoy arkadaşımıza teşekkürlerimizi sunarız. </p>
            </div>
        </div>
    </div>
</section>
