<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Dirk</h2>
                    <h3 class="section-subheading text-muted">...for speaking opportunities!</h3>
                </div>   
            </div>                    
            <div class="row text-center">                    
                <div class="col-lg-12 text-center">
                   <p><h4 class="section-heading">Dirk is a frequent speaker <i>(german/english)</> at international conferences<br/>on the topics of Continuous Delivery and DevOps.</h4></p>
                   <br/>
                   <p><h4 class="section-heading">Please reach out to Dirk via any of the following networks:</h4></p>
                </div>                     
            </div>                    
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                       <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                       </li>
                    {% endfor %}
                    </ul>
                </div>              
            </div>
        </div>
</section>
