  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="#portfolioModal{{ 1 }}" class="portfolio-link" data-toggle="modal">Legal notice</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
