  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline quicklinks">
       {% for legal in site.legals %}
<li><a href="#portfolioModal{{ legal.modal-id }}" class="portfolio-link" data-toggle="modal">Legal notice {{ legal.modal-id }}</a>
                        </li>                       
                  {% endfor %}        
                       <!--  <li><a href="#portfolioModal{{ 1 }}" class="portfolio-link" data-toggle="modal">Legal notice</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
