<!-- Legal Section -->
<section id="legal">
    <div class="portfolio-modal modal fade" id="legalModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Legal Information</h2>
                            <hr class="star-primary">
                            <div class="col-lg-6">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading"><a href="https://www.continuouslifecycle.de/">Continuous Lifecycle 2019</a></h4>
                                <p class="text-muted">12-15 November, Mannheim</p>
                            </div>                      
                            <p>Some legal information go in gere</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
