<style>
  .footer {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .header {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
</style>
{% if site.data.settings.hero.enable == true %}
<div class="hero__container">
    <div class="hero">
        <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{ site.data.settings.title }}">
        <div class="hero__wrapper">
            <div class="hero__content">
                <img class="lazy hero__title" draggable="false" data-src="/images/title.png" alt="{{ site.data.settings.hero.hero__title }}" />
                {% if page.image_caption %}
                <div class="hero__caption">{{ page.image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
                {%endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}