{% if site.data.settings.hero.enable == true %}
<div class="container">
    <div class="page-head">
        <div class="page-image hero">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{ site.data.settings.title }}">
            <div class="hero__wrapper">
                <img class="lazy hero__content" data-src="/images/title.png" alt="{{ site.data.settings.hero.hero__title }}" />
            </div>
        </div>
        {% if page.image_caption %}
        <div class="page-image-caption">{{ page.image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
        {%endif %}
    </div>
</div>
{% endif %}