<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Leírás</h2>
                    <h3 class="section-subheading text-muted">1. Leszed minden nap minden friss Index cikket egy scraper program segítségével, melyet később a DVC segítségével számon is tart</h3>
                    <h3 class="section-subheading text-muted">2. Ez a Docker csomag segítslglvel dockerizálásra kerül, hogy minden platformon a lehető legsúrlódásmentessebben fusson</h3>
                    <h3 class="section-subheading text-muted">3. A PostreSQL csomaggal betöltjük és kezeljük a big data-t</h3>
                    <h3 class="section-subheading text-muted">4. Majd a Github Actions naponta újra lefuttatja az adatlekérést</h3>
                    <h3 class="section-subheading text-muted">5. Mindennek a soron lehet követni ezen a Github Page-en</h3>
                    <h3 class="section-subheading text-muted">6. Heroku app-ba becsatoljuk az SQL adatbázist</h3>
                    <h3 class="section-subheading text-muted">7. Ezen a Dash csomag segítségével létrehozunk egy dashboardot</h3>
                    <h3 class="section-subheading text-muted">8. Amin az Altair csomag segítségével vizualizáljuk a lekérdt adatokat, a user interkaciója alapján</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>