<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Szakma</h2>
                    <p>Szakma (főnév) jelentése: Bármely munka, ami speciális képzést igényel. A tudomány vagy művészet egyes ága.</p>
                    <p>Példa: <i>Ő volt a legjobb a szakmájában. A maga szakmájában nagyon jártas ember.</i></p>
                    <p>Morzé jelekkel leírva (csak ékezet nélküli betűkkel): ... --.. .- -.- -- .-</p>
                    <img src="szakma.png" alt="szakma halkan">
                    <p><font size="+2"> A szó 6 betűs karakterrel van leírva, ebből 2 magánhangzó (33.3%).</font></p>
                    <p>Ez 4.95 százalékkal kevesebb mint az átlagos magyar szó esetében. 
                        Vizsgált szövegnek összesen 0 karaktere van ami nem írható le angol ábécével (átlagnál 1.1 karakterrel kevesebb).</p>
                    <p>Hátrafelé leírva: AMKAZS.</p>
                    <a href="https://wikiszotar.hu/ertelmezo-szotar/Szakma"><i>(Wikiszótár, 2022)</i></a>
                    <a href="http://szakma.szojelentese.com/"><i>(Szó jelentése, 2022)</i></a>
                </div>
            </div>
        </div>
    </section>