<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Leírás</h2>
                    <p>Az altörzsbe az alábbi osztályok tartoznak:
                        ősrákok (Cephalocarida)
                        levéllábú rákok (Branchiopoda) vagy (Phyllopoda)
                        gályarákok (Remipedia)
                        állkapcsilábas rákok (Maxillopoda) többek között ide tartoznak a haltetvek (Branchiura), kagylósrákok (Ostracoda)
                        felsőbbrendű rákok (Malacostraca)</p>
                    <p>A rákok közé rendkívül változatos méretű (0,5 mm - 4 m) és felépítésű fajok tartoznak. Gerinctelen állatok, külső vázuk kitines kutikula, melyet a köztakarójuk termel, és többnyire mészsók rakódnak bele. A kutikula nem élő része az állatnak, időről időre vedlenek (Ecdysozoa). Ilyenkor az új váz megszilárdulásáig nagyon sérülékenyek (vajrák), ez idő alatt többnyire rejtőzködnek. Kutikulájuk az ízek határán vékony és rugalmas marad, ízületi hártyát képez, így az egyes szelvények képesek elmozdulni egymáshoz képest. A vázhoz az izmok belülről tapadnak.</p>
                    <p>Három testtájuk van: fej, tor és potroh. A fej és a tor egyes szelvényei (akár az összes is) gyakran összenőnek, fejtort (cephalothorax) alkotnak, de előfordulhat a tor és a potroh egyes szelvényeinek összenövése is például a gályarákok (Remipedia) osztályában. A rákok testtájai nem homológok a rovarokéval.</p>
                    <p>A tor minden esetben öt valódi szelvényből áll, ehhez általában egy hatodik is kapcsolódik, ez a szemnyél (acron). A tor és a potroh szelvényszáma változó lehet, a felsőrendű rákoknál a tor 8, a potroh 6+1 szelvényből áll (a plusz egy szelvény a potroh végén található telson). A pajzsos levéllábú rákoknál viszont akár negyven torszelvény is előfordulhat. Végtagok mind a három testtájon előfordulhatnak, ezek megléte, száma az egyes csoportokra jellemző.</p>
                    <p>Egyes csoportok carapaxa erősen módosulhat, és körülveheti akár az egész testet is. Ilyen figyelhető meg például a kagylósrákok, vagy a levéllábú rákok esetében. Szélsőséges specializáció figyelhető meg a kacslábú rákoknál, amelyeket első ránézésre akár kagylónak is nézhetnénk.</p>
                    <p>A világítórákok csoportjában speciális világítószervek alakultak ki.</p>
                    <a href="https://hu.wikipedia.org/wiki/R%C3%A1kok"><i>(Wikipédia, 2022)</i></a>
                </div>
            </div>
        </div>
    </section>