<!-- Upcoming Section -->
    <section id="upcoming">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Speaking Engagements</h2>
                    <h3 class="section-subheading text-muted">Public events & conferences Dirk will speak next</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.continuouslifecycle.de/">Continuous Lifecycle 2019</a></h4>
                    <p class="text-muted">12-15 November, Mannheim</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.devopspro.ru/en/">DevOps Pro Moscow 2019</a></h4>
                    <p class="text-muted">19-21 November, Moscow</p>
                </div>
            </div>
        </div>
    </section>
