<!-- Upcoming Section -->
    <section id="upcoming">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Speaking Engagements</h2>
                    <h3 class="section-subheading text-muted">Public events & conferences Dirk will speak next</h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- The more upcoming sessions there are the less the col-md-6 shall be e.g. 3 engagements work fine with col-md-4 -->
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.bitkom.de/">bitkom - AK Software Engineering und Software Architektur</a></h4>
                    <p class="text-muted">Talk: Schlechtes DevOps - einfach gemacht!<br/>October 15th, Frankfurt</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.continuouslifecycle.de/">Continuous Lifecycle 2019</a></h4>
                    <p class="text-muted">Talk: Schlechtes DevOps - einfach gemacht!<br/>November 12-15, Mannheim</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.devopspro.ru/en/">DevOps Pro Moscow 2019</a></h4>
                    <p class="text-muted">Talk: Trust as foundation of DevOps<br/>November 19-21, Moscow</p>
                </div>
            </div>
        </div>
    </section>
