/* Hero */
.hero__container {
  margin: 0;
  width: 100%;

  .hero {
    position: relative;
    width: 100%;
    max-height: 80vh;
    aspect-ratio: auto;
    overflow: hidden;
    background-color: var(--background-alt-color);

    & > img {
      position: static;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      background-color: var(--background-alt-color);
      -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
      -webkit-mask-size: 100%;
              mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
    }

    .hero__wrapper {
      position: absolute;
      inset: 0;
      -webkit-backdrop-filter: blur(1px) brightness(0.85);
              backdrop-filter: blur(1px) brightness(0.85);

      .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .hero__title {
          width: 100%;

          & > * {
            text-align: center;
            margin: 0 auto;
            white-space: nowrap; /* Prevent text wrapping */
          }

          & > h1 {
            font-size: clamp(1.5rem, 4vw, 3rem);
             color: #fff;
               text-shadow:
      0 0 5px rgba(0, 0, 0, 0.8),
      0 0 10px rgba(0, 0, 0, 0.6);
          }

          & > h2 {
            font-size: clamp(1.25rem, 3.5vw, 2.75rem);
            font-weight: 400;
             color: #fff;
               text-shadow:
      0 0 5px rgba(0, 0, 0, 0.8),
      0 0 10px rgba(0, 0, 0, 0.6);
          }

          @media (max-width: 768px) {
            & > * {
              white-space: normal;
            }

            & > h1 {
              font-size: clamp(1.5rem, 5vw, 2.5rem);
            }

            & > h2 {
              font-size: clamp(1rem, 4vw, 1.8rem);
            }
          }
        }

        .hero__caption {
          @extend .post-image-caption;
          text-align: center;
        }
      }
    }
  }
}
