/* Hero */
.hero {
  position: relative;
  display: block;

  & > .hero__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px) brightness(0.85);

    & > .hero__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 2rem 1rem;
    }
  }
}