/* Hero */
.hero__container {
  margin: 0;
  width: 100%;

  & > .hero {
    position: relative;
    width: 100%;
    aspect-ratio: auto;
    overflow: hidden;
    background-color: var(--background-alt-color);

    & > img {
      position: static;
      width: 100%;
      overflow: hidden;
      background-color: var(--background-alt-color);
      opacity: 0.3;
    }

    & > .hero__wrapper {
      position: absolute;
      inset: 0;
      --webkit-backdrop-filter: blur(4px) brightness(0.85);
      backdrop-filter: blur(4px) brightness(0.85);

      & > .hero__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 6rem 0;

        & > .hero__title {
          width: 100%;
          max-width: 700px;
          display: block;
          margin: 0 auto;
          border-radius: 0;
        }

        & > .hero__caption {
          @extend .post-image-caption;
          text-align: center;
        }
      }
    }
  }
}