/* Hero */
.hero__container {
  padding-left: calc(#{$container-offset} * 2.5);
  padding-right: calc(#{$container-offset} * 2.5);
  margin: 0 auto;
  width: 100%;

  & > .hero {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: auto;
    border-radius: $global-radius;
    overflow: hidden;
    background-color: var(--background-alt-color);

    & > img {
      position: static;     /* remove absolute */
      display: block;       /* remove inline-gap */
      width: 100%;          /* scale to container width */
      height: auto;         /* preserve intrinsic ratio */
      border-radius: $global-radius;
      overflow: hidden;
      background-color: var(--background-alt-color);
      opacity: 0.3;
    }

    & > .hero__wrapper {
      position: absolute;
      inset: 0;
      backdrop-filter: blur(3px) brightness(0.85);

      & > .hero__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 6rem 1rem;
      }
    }
  }
}