/* İletişim */
.form-box {
  margin-bottom: 100px;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 80px;
  }
}

.iletisim-head {
  margin-bottom: 32px;
}

.iletisim-yazi {
  font-size: 24px;   
  line-height: 1.6;  
}

.form__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  outline: 0;
  transition: .2s ease-in-out;
  resize: vertical;
  color: var(--heading-font-color);
  background-color: var(--background-color);

  &::-moz-placeholder {
    color: var(--text-alt-color);
  }

  &::placeholder {
    color: var(--text-alt-color);
  }

  &:focus {
    border-color: var(--primary-color);
    background-color: transparent;
  }
}