/* Logos */
.section.logos {
  padding-top: 0;
  border-top: none;
}

.logos__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -$base-spacing-unit;
}

.logos__item {
  padding: $base-spacing-unit;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logos__link {
  
  display: block;
  transition: all .2s ease;
  border-bottom: none !important;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
   }
}

.logos__image {
  width: 11rem;  
  height: auto; 
  filter: invert(51%) sepia(4%) saturate(1703%) hue-rotate(179deg) brightness(85%) contrast(89%);
  border-radius: 0 !important;
  

  @media (max-width: $mobile) {
    height: 2rem;
  }
}

.dark-mode {
  .logos__image {
    filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg) brightness(115%) contrast(88%);
  }
}