---
layout: page
title: Work
description: At Datart Lab, we design and build intelligent optimization engines from the ground up — starting with mathematical models and algorithms and extending all the way to robust software systems and user-friendly applications. We work with companies in logistics, transportation, healthcare, and beyond to turn complex challenges into practical, scalable solutions.  Alongside these industry collaborations, we also lead government-funded research projects and contribute to state-of-the-art academic work, ensuring our methods remain innovative, rigorously validated, and impactful.
---

<div class="work-page container animate">
  <div class="row">
    {% for work in site.works reversed %}
      <article class="work col col-4 col-d-6 col-t-12">
        <div class="work__content">
          <a href="{{ work.url }}" class="work__image">
            <img class="lazy" data-src="{{ work.image }}" alt="{{ work.title }}">
          </a>
          <div class="work__info">
            {% if work.category %}
            <div class="work__category">{{ work.category }}</div>
            {% endif %}
            <h3 class="work__title"><a href="{{ work.url }}">{{ work.title }}</a></h3>
            {% if work.description %}
            <p class="work__description">{{ work.description }}</p>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>

<hr>

{% include section-logos.html %}

<hr>

{% include publications.html %}


