// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 16px;

// Transition
$global-transition: all .2s;


// *****************
// Typography
// *****************
$base-font-size: 22px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: "Jockey One", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.6;

// Headings
$heading-font-weight: 800;
$heading-font-family: "Jockey One", Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 22px;
$font-size-h6: 20px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;